<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rio de Janeiro - Home</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/footer.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a71e486fc8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header" id="home">
        <img src="/assets/logo.png" alt="">

        <!-- mobile -->
        <button class="btn-menu">
            <i class="fas fa-bars"></i>
        </button>
            
        <nav id="menu" class="nav-bar">
            <div id="btn-close">
                <a href="#"> <i class="fas fa-arrow-circle-left"></i> </a>
            </div>
            <ul id="nomodal">
                <li><a href="#about">Sobre</a></li>
                <li><a href="#history">A história</a></li>
                <li><a href="#beach">Praias</a></li>
                <li><a href="#cultura">Cultura</a></li>
                <li><a href="#museus">Museus</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <!-- Add Legend -->
        <!-- <div class="legend-button">
            <div class="button-edit">
                <button class="see_caption modify-button-legend">Ver legenda do site</button>
            </div>
            <div class="edit_legend" id="add_legend">
                <h3>Legenda do site</h3>
                <p class="historyparagraph">
                    O site terá partes com breves explicações e outras mais detalhadas. <br>
                    O texto quando em destaque na cor <strong>Azul</strong> é quando pode clicar para ver mais detalhes.
                </p>
                <button class="no_legend modify-button-legend">
                    Fechar legenda
                </button>
            </div>
        </div> -->
        <!-- Button fixo para voltar ao inicio -->
        <div id="divtobackhome">
            <a href="#home" id="toBackHome"><i class="fas fa-angle-double-up"></i></a>
        </div>

        <!-- History RJ -->
        <section class="section-content editabout" id="about">
            <div class="aboutRj historydiv">
                <h1 class="h1-style">Como é o Rio</h1> 
                <img class="historyimg" src="/assets/imgprinc.png" alt="">
                <small>Imagem do RJ na altura do Cristo Redentor</small>
                <p class="historyparagraph">
                    O rio de Janeiro, uma grande cidade brasileira, famosa pelas belas praias, como <a href="#">Copacabana</a> e <a href="#">Ipanema</a>, a grande estátua 38 metros de altura, o <a href="#">Cristo Redentor</a> no topo do Corcovado e pelo Pão de Açúcar, assim como as enormas favelas.
                    O empolgante Carnaval, fantasias extravagantes e sambistas, é considerado o maior do mundo.
                </p>
            </div>

            <div class="discoverypt historydiv" id="history">
                <h1 class="h1-style">A descoberta dos Portugueses</h1>
                <img class="historyimg" src="/assets/lustrativapt.jpg" alt="">
                
                <small>Imagem ilustrativa da colonização portuguesa, 1505.</small>

                <p class="historyparagraph">Foi em janeiro de 1502, em uma expedição portuguesa comandada por <a href="#"> Gaspar de Lemos</a>, que acreditava ter chegado em um grande rio, assim, então, batizou a baía com o nome de Rio de Janeiro.Contudo, foram os franceses que primeiro se estabeleceram na região e competiam com os portugueses com o comércio madereiro. </p>
            </div>

            <div class="stateRj historydiv">
                <h1 class="h1-style">O tamanho e Climas</h1> 
                <img class="historyimg" src="/assets/maparj.png" alt="">
                <small>Imagem do Mapa do Rio de Janeiro</small>
                <p class="historyparagraph">
                    Situado na <a href="#">Região Sudeste</a> do país beirando o <a href="#">Oceano Atlântico(leste e sul)</a>, ocupa uma área de aproximadamente 44 milhões de km², mas mesmo assim, ainda é o 3° menor estado dos 27 que ocupam o Brasil. O clima varia de <a href="#">Tropical</a> a <a href="#">subtropical</a>, geadas ocorrem nos meses de inverno, em regiões acima dos mil metros de altitude.
                </p>
            </div>

            <div class="importantRj historydiv">
                <h1 class="h1-style">A importância do Estado</h1> 
                <img class="historyimg" src="/assets/plataformas.png" alt="">
                <small>Imagem de Plataforma de petróleo/RJ</small>
                <p class="historyparagraph">
                    O Rio de Janeiro apresenta a segunda maior economia brasileira, com 11% de participação, ficando atrás de São Paulo. <br> 
                    &nbsp; Com um parque industrial diversificado e com a indústria do turismo, o Município do Rio de Janeiro, conhecida pela Cidade Maravilhosoa, é um dos maiores destinos de turismo estrangeiros e domésticos do país.
                </p>
            </div>

                <img class="img1100" src="/assets/boneco.svg" alt="">
        </section>    

        <!-- beach Rj -->
        <section class="section-content" id="beach">
            <h1 class="h1-style">Algumas praias paradisíacas</h1>
            <div class="beach historydiv">
                <img src="/assets/copacabana.jpg" alt="" class="historyimg">
                <small>Imagem de Copacabana</small>
                <p class="historyparagraph">
                    O bairro da <a href="#">Zona Sul</a> do estado do Rio de Janeiro é preenchido por está linda praia com o famoso e emblemático calçadão. O padão de ondas foi criado no <a href="#">Século XIX</a>, na <a href="#">Praça do Rossio, em Lisboa</a>. Aos dias de Sol intenso, logo fica cheia por turistas e moradores.
                </p>
            </div>

            <div class="beach historydiv">
                <img src="/assets/arpoador.jpg" alt="" class="historyimg" id="#more-beach">
                <small>Imagem da praia Arpoador</small>
                <p class="historyparagraph">
                    A praia do <a href="#">Arpoador</a>, conhecida também por ter uma enorme formação rochosa e que apresenta espaço restrito, por se tratar de uma praia pequena, com cerca de 500 metros de comprimento situa-se no <a href="#">Bairro de Ipanema</a>.
                </p>
            </div>

            <div class="beach historydiv">
                <img src="/assets/ipanema.png" alt="" class="historyimg">
                <small>Imagem da praia de Ipanema</small>
                <p class="historyparagraph">
                    Também localizada na <a href="#">Zona Sul</a> do estado do RJ, é uma praia que segue o calçadão de <a href="#">Copacabana</a>, que além de toda sua beleza do mar aberto, ainda consta com locais para prática de esportes e tudo mais, um dois locais ideais para aproveitar com a família.
                </p>
            </div>
        <!-- More beach -->
            <div class="beach historydiv beach_novisibility">
                <img src="/assets/arraialcaboprainha.jpg" alt="" class="historyimg">
                <small>Imagem da prainha - Arraial do Cabo</small>
                <p class="historyparagraph">
                    Um paraíso para quem quer aproveitar uma bela praia com muita vegetação à sua volta. Local muito famoso pela grande escadaria. Eleita uma das melhores praias do Brasil, a <a href="#">Prainha</a> em <a href="#">Arraial do Cabo</a>, e não é a única praia maravilhosa que Arraial tem. Incrível como o nosso país tem cada lugar perfeito.
                </p>
            </div>

            <div class="beach historydiv beach_novisibility">
                <img src="/assets/paratypraiasono.jpg" alt="" class="historyimg">
                <small>Imagem da praia do Sono - Paraty</small>
                <p class="historyparagraph">
                    É, não existe só as praias de <a href="#">Copacabana</a> e <a href="#">Ipanema</a> no RJ, esta é uma das maravilhavilhas que nos aguardam na cidade de <a href="#" target="_blank">Paraty</a>, a <a href="#" target="_blank">Praia do Sono</a>, o próprio nome ja diz, um local mais isolado e feito para relaxar e apreciar a bela natureza que temos.
                </p>
            </div>

            <div class="beach historydiv beach_novisibility">
                <img src="/assets/ilhagrandemangara.jpg" alt="" class="historyimg">
                <small>Imagem da Ilha Grande - Mangaratiba</small>
                <p class="historyparagraph">
                    Esta é mais uma das dezenas de praias e ilhas paradisíacas localizada na <a href="#" target="_blank">Costa Verde</a> do Estado. Ao chegar em <a href="#" target="_blank">Ilha Grande</a>, quase impossível não querer conhecer todos os locais, a da imagem é conhecida como Lagoa Azul, outro paraíso em nosso Brasil e que a experiência é sensacional.
                </p>
            </div>

            <div class="more-button">
                <button class="no-beach modify" id="less-beach">
                    - Ver menos <i class="fas fa-umbrella-beach"></i>
                </button>

                <button class="more-beach modify" id="more-beach">
                    + Ver mais <i class="fas fa-umbrella-beach"></i>
                </button>
            </div>
        </section>  

        <!-- Cultura do Rio -->
        <section class="section-content" id="cultura">
            <h1 class="h1-style">Cultura típica do Rio</h1> 
            <div class="culturaRj historydiv">
                <img class="historyimg" src="/assets/teatromunicipalrj.jpg" alt="">
                <small>Teatro Municipal - Cinelância/RJ</small>
                <p class="historyparagraph">
                    O projeto começou a ganhar consistência no final do século XIX, com o empenho do ilustre dramaturgo <a href="#">Arthur Azevedo(1855-1908)</a>, no entanto, lamentavelmente, ele não viveu suficiente para ver a inauguração do Teatro em 14/07/1909. <br>
                    &nbsp; Passado por diversas reformas, a bela obra continua sendo considerado a principal casa de espetáculos do Brasil.
                </p>
            </div>

            <div class="culturaRj historydiv">
                <img class="historyimg" src="/assets/desfilecarnavalrj.jpg" alt="">
                <small>Desfile de Carnaval - Sambódromo/RJ</small>
                <p class="historyparagraph">
                    O <a href="#" target="_blank">Carnaval</a> foi trazido ao Brasil pelos <a href="#" target="_blank">Colonizadores portugueses</a> entre os séculos XVI e XVII que no inicio era uma brincadeira popular. Com o passar do tempo, o carnaval passou a ser manifestado de outras formas, como o baile de máscaras.<br>
                    &nbsp; A partir do século XX, surgiu o <a href="#">Samba</a>, estilo musical influenciado pela cultura africana e do desfile das escolas de samba. Atualmente o carnaval passou a ser a maior festa popular do Brasil
                </p>
            </div>

        </section>

        <section class="section-content" id="museus">
            <h1 class="h1-style">Alguns museus importantes</h1> 
            <div class="museurj historydiv">
                <img class="historyimg" src="/assets/museunacionalrj.jpg" alt="">
                <small>Museu Nacional/RJ antes do incêndio</small>
                <p class="historyparagraph">
                    O <a href="http://www.museunacional.ufrj.br/dir/omuseu/omuseu.html" target="_blank">Museu Nacional da UFRJ </a>tem mais de 200 anos, foi criado por D. João VI, em 06/07/1818. Como museu universitário, tem perfil academico e científico, cumprindo a finalidade de passar conhecimento nas áreas de ciências naturais e antropológicas. <br>
                    &nbsp; Destacava-se, em exposição, a coleção egípicia, considera a maior da América Latina, o mais antigo fóssil humano ja encontrado no país e entre outras exposições.
                </p>
            </div>
            <div class="museurj historydiv">
                <img class="historyimg" src="/assets/museubelasartes.png" alt="">
                <small>Museu Belas Artes/RJ</small>
                <p class="historyparagraph">
                    Foi em 1808 Quando <a href="#">Dom João VI</a> chegou ao Brasil juntamente com a Família Real trazendo uma coleção de obras de artes das quais muitas permaneceram no país após seu regresso para Portugal. <br> 
                    &nbsp; O rei fundou no país a Escola Real de Ciências, Artes e Ofícios, somente  muitos anos depois foi criado em 13/01/1937 o <a href="#" target="_blank">Museu Nacional de Belas Artes</a>.
                    <a href="#" class="ver-mais" target="_blank">Ver Mais</a>
                </p>
            </div>
            <div class="museurj historydiv">
                <img class="historyimg" src="/assets/museunavalrj.jpg" alt="">
                <small>Museu Naval/RJ</small>
                <p class="historyparagraph">
                    O <a href="https://www.marinha.mil.br/dphdm/museus/museu-naval" target="_blank">Museu Naval</a> é um espaço destinado à preservação da memória naval brasileira. Em seu acervo, se encontram diversos documentos que relatam a história da Marinha do Brasil. <br>
                    &nbsp; Construído em 1868 para servir de sede ao Clube Naval, atualmente é local expositivo, aberto ao público em 28/09/2006 na qual tem passeios educativos de diversas escolas.
                </p>
            </div>
        </section>

    </div>

    <div class="footer">
        <h3>Minhas redes Sociais</h3>
        <div class="social-icons">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/Tiaguin061">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <p>&copy; CopyRight <a href="#">Tiago Gonçalves</a> - 2020</p>
    </div>

    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/scrollpage.js"></script>

</body>     
</html>

